.app {
    --ui-01: #607d8b;
    --ui-minHeight: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    /* REVIEW */
    max-width: var(--colContent, 500px);
    max-height: 100%;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;
}

.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 0.5rem;
    padding: 0.5rem;
    width: 100%;
}

.title {
    width: 100%;
}

.input {
    display: grid;
    border: 2px solid var(--ui-01);
    border-radius: 0.25rem;
    padding: 0.25rem;
    min-height: var(--ui-minHeight);
    padding-inline-start: 1rem;
    padding-inline-end: 2rem;
}

.button {
    --button-primary: #0f62fe;
    --button-success: #4ac35c;
    --button-danger: #da1e28;

    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    border: 2px solid transparent;
    border-radius: 0.25rem;
    align-items: center;
    padding: 0.25rem;
    min-height: var(--ui-minHeight);
    padding-inline-start: 1rem;
    padding-inline-end: 2rem;
    background: var(--ui-01);

    &Primary {
        @extend .button;
        background: var(--button-primary);
    }

    &Delete {
        @extend .button;
        background: var(--button-danger);
    }

    &Confirm {
        @extend .button;
        background: var(--button-success);
    }
}

.list {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    overflow: auto;
    display: grid;
    grid-gap: 0.5rem;
}

.listItem {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.listItemAction {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    margin-right: 0;
    margin-left: auto;
}
